<p>
	This game was built by four students from Paris Descartes University, as part of a University project: Xavier Lefebvre, Alexis Le Bars, Thomas Riccioli and Conrad Kleinespel.
</p>
<p>
	To aid development, we used the following open source libraries:
      <ul>
        <li><a href="http://jsglib.no-ip.org/">JSGlib</a></li>
        <li><a href="http://angularjs.org/">AngularJS</a></li>
        <li><a href="http://underscorejs.org/">UnderscoreJS</a></li>
        <li><a href="http://buzz.jaysalvat.com/">Buzz</a></li>
      </ul>
</p>
<p>
	This project is released un the GPL v3 license. All source code is <a href="https://github.com/conradkleinespel/super-mario-univ-paris5">available on Github</a>. We would be grateful for any suggestions, pull request or bug reports :-)
</p>