<ul ng-show="hasSavedGames">
	<h2>Parties sauvegardées</h1>

	<li ng-repeat="game in games">
		<h3><a href="#/game/{{ game.timestamp }}">Partie {{ $index }}</a></h2>
		<p>Level : {{ game.level }}</p>
		<p>Timestamp : {{ game.timestamp }}</p>
		<p>Gold coins : {{ game.coins }}</p>
		<p>Avancement de Mario : {{ game.mario.x }}</p>
		<button ng-click="remove(game.timestamp)" class="btn">Supprimer cette partie</button>
	</li>
</ul>

<div ng-show="!hasSavedGames">
	Aucune partie n'a été sauvegardée.
	<a href="#/game" class="btn">New game</a>
</div>