body {
	padding-bottom: 215px;
}

.grid {
	border-collapse: collapse;
}

.palette {
	transform: scale(2);
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-moz-transform: scale(2);
	position: fixed;
	border: 1px solid black;
	background-color: white;
}

.grid td, .palette td {
	width: 16px;
	padding: 0px;
}

.grid td {
	height: 16px;
	background-color: #D0D0D0;
	text-align: center;
}

.palette td {
	height: 18px;
	border: 1px solid black;
	opacity: 0.5;
}

@-moz-document url-prefix() { 
	.palette td {
		height: 16px;
		display: inline-block;
	}
}

.grid td:hover {
	background-color: #00A0E0;
	cursor: pointer;
}

.palette td:hover {
	opacity: 1;
	cursor: pointer;
}

.block {
	background-image: url('../img/game/editorSprite.png');
	background-repeat: no-repeat;
}

.innerSpan {
	width: 16px;
	height: 16px;
	display: inline-block;
}

.surface {
	background-color: rgba(0,0,0,0.5);
	background-image: url('../img/game/editorSprite.png');
	background-repeat: no-repeat;
}

.grid .block:hover {
	opacity: 0.5;
}

.palette .selected {
	opacity: 1;
	border: 1px solid red;
}

#selectedBlock {
	vertical-align: top;
}

#selectedBlock > span {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	border: 1px solid black;
}

.hidden p
{
	display: none;
}

form {
	display: none;
}