<div ng-show="gameExists">
	<div id="gameBG" class="gameBGDay">
		<div id="gameMountains">
			<canvas id="jeu">
				<p>Your browser is not capable of running this game. Please use one of the supported browsers below:
					<ul>
						<li><a href="http://www.mozilla.org/fr/firefox/new/">Firefox 18+</a></li>
						<li><a href="http://www.google.com/chrome/">Google Chrome 24+</a></li>
					</ul>
				</p>
			</canvas>
		</div>
	</div>

	<div id="win-level" style="display: none;">
		<p class="center" style="color: green;">Bravissimo! You have won this level. Next level in: <span style="color: green;" id="win-level-timer"></span></p>
	</div>

	<nav>
		<button ng-click="saveCurrentGame()" class="btn">Save this game</button>
		<a href="#/worlds" class="btn">New game</a>
		<a href="#/parties" class="btn">Saved games</a>
	</nav>
</div>

<div ng-show="!gameExists">
	<p class="center">There is no saved game with this ID.</p>
</div>

<div id="save-game-success" style="display: none;">
	<p class="center" style="color: green;">The game has been successfully saved.</p>
</div>